*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.outer{
	height:100vh;
	background-color: cyan; 
	display: flex;
	justify-content: center;
	align-items: center;
}
.outer >.inner{
	background-color: white;
	width:390px;
	padding: 20px 40px;
	border-radius: 20px;
	box-shadow: 2px 5px  2px black;
}
.outer >.inner:hover{
	box-shadow: -2px -5px 2px black;
}
.inner >header >h1{
	font-size: 40px;
	margin-bottom: 10px;
	font-family: poppins;
	font-style: italic;
	text-shadow: 1px 2px  2px black;
}
.inner > header >p{
	font-size: 12px;
	margin-bottom: 20px;
	margin-top: 5px;
}
.form-grp >label{
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}
.form-grp > input{
	display: block;
	width: 100%;
	padding: 10px;
	border-radius: 20px;
	border-top-width: 5px;
}
.form-grp{
	margin:10px;
}
.form-grp > button{
	width: 100%;
	padding: 13px 10px;
	border-radius: 10px;
	background-color: blue;
	color:white;
	cursor: pointer;
	margin-top: 5px;
}
.form-grp >button:hover{
	background-color: rgb(6,6,83);
}
footer >p{
	display: inline-block;
	margin-top: 10px;
	margin-left: 50px;
}
footer >a{
	text-decoration:none;
}
